* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CONTAINER PRINCIPAL */
.container {
  display: flex;
  height: 100vh;
}

/* LADO ESQUERDO (VERDE) */
.left {
  width: 50%;
  background-color: #a3d900; /* verde */
}

/* LADO DIREITO */
.right {
  width: 50%;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CAIXA CENTRAL */
.box {
  width: 250px;
  height: 300px;
  border: 2px solid black;
}

/* PARTES INTERNAS */
.top {
  height: 33%;
  background-color: red;
}

.middle {
  height: 33%;
  background-color: blue;
}

.bottom {
  height: 34%;
  background-color: gray;
}